.sidebar-container .menu-btn {
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 50%;
    color: #444;
    cursor: pointer;
}

.sidebar-container .menu-btn-box {
    padding: 14px 10px;
    display: none;
}

.sidebar-container .menu-btn:hover { background-color: rgba(242, 242, 242, 0.7); }

.sidebar-container .hamburger-icon { font-size: 250%; }