@media only screen and (max-width: 1025px) {
    .nav-container { 
        padding: 0px;
        position: fixed;
        background-color: #fff;
        z-index: 1;
    }
    
    .nav-half { 
        left: 0px;
        width: 100%;
    }
}